/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';


/* 1. Main Layout ================================= */
* {
	box-sizing: border-box;
}

body {
	background: #eee;
}

@keyframes scott {
	0% {
		top: 0px;
		left: 0px;
	}

	50% {
		top: 100px;
		bottom: 100px;
	}

	100% {
		top: 0px;
		bottom: 50px;
	}
}

/*
	animation-name: aglet;
	animation-duration: 1s, 0.8s;
	animation-iteration-count: infinite;
	// normal, reverse, alternate, alternate-reverse
	animation-direction: normal;
	// animation-timing-function:linear;
	// animation-timing-function:steps(3);
	// aniamtion-play-state
*/

// calculate the ratio of your poster and put it here
$ratio: 675px/1000px;

.poster {
	position: absolute;
	height: 90vh;
	width: 90vh * $ratio;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	overflow: hidden;

	background-color: #454454;
	box-shadow: 0 20px 30px rgba(0,0,0,0.3);

	// temporary background image just for help positioning during development
	background-image: url("../img/ScottPilgrimDesign.jpg");
	background-size: contain;

	// put all elements in the poster, like this, with % for sizing and positioning.
	.pilgrim{
		position: absolute;
		width: 47%;
	    top: 7.4%;
	    right: 4.4%;
		transform: rotate(-3.8deg) skewY(1.3deg);
	}

	.scott{
		position: absolute;
		width: 42.8%;
		top: 7.4%;
		left: 4.2%;
		transform: rotate(0.5deg) skewY(5.5deg);

		// animation-name: scott;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.the{
		position: absolute;
		width: 11%;
		top: 21%;
		left: 41.4%;

		// animation-name: the;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.versus{
		position: absolute;
		width: 9.8%;
		top: 22.6%;
		left: 30.6%;

		// animation-name: versus;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.world{
		position: absolute;
		width: 16.7%;
		top: 21.7%;
		left: 56%;
		
		// animation-name: world;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.big-star{
		position: absolute;
		width: 8%;
		top: 48.8%;
		left: 63.4%;

		// animation-name: big-star;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.small-star{
		position: absolute;
		width: 3.5%;
		top: 51.1%;
		left: 56.1%;

		// animation-name: small-star;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.scott-star-1{
		position: absolute;
		width: 8%;
		top: 39.2%;
		left: 33.2%;

		// animation-name: scott-star-1;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}
	.scott-star-2{
		position: absolute;
		width: 4%;
		top: 34.4%;
		left: 35.8%;

		// animation-name: scott-star-2;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.small-star-2{
		position: absolute;
		width: 3%;
		top: 25.9%;
		left: 50.6%;


		// animation-name: small-star-2;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	
	}

}


