/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';


/* 1. Main Layout ================================= */
* {
	box-sizing: border-box;
}

body {
	background: #eee;
}

@keyframes scott {
	0% {
		top: 0px;
		left: 0px;
	}

	50% {
		top: 100px;
		bottom: 100px;
	}

	100% {
		top: 0px;
		bottom: 50px;
	}
}

/*
	animation-name: aglet;
	animation-duration: 1s, 0.8s;
	animation-iteration-count: infinite;
	// normal, reverse, alternate, alternate-reverse
	animation-direction: normal;
	// animation-timing-function:linear;
	// animation-timing-function:steps(3);
	// aniamtion-play-state
*/

// calculate the ratio of your poster and put it here
$ratio: 675px/1000px;

.poster {
	position: absolute;
	height: 90vh;
	width: 90vh * $ratio;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	overflow: hidden;

	background-color: #454454;
	box-shadow: 0 20px 30px rgba(0,0,0,0.3);

	// temporary background image just for help positioning during development
	background-image: url("../img/ScottPilgrimDesign.jpg");
	background-size: contain;

	// put all elements in the poster, like this, with % for sizing and positioning.
	.pilgrim{
		position: absolute;
		width: 40vh * $ratio;
		height: 40vh * $ratio;
		top: 7.2%;
		right: 7.6%;
		transform: rotate(1deg);
		transform: skewY(1.5deg);

	}

	.scott{
		position: absolute;
		width: 40vh * $ratio;
		height: 40vh * $ratio;
		top: 11%;
		left: 1.3%;
		transform: rotate(-3deg);
		transform: skewY(-3deg);

		// animation-name: scott;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;

	}

	.scott-star-1{
		// animation-name: scott-star-1;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	
	}

	.scott-star-2{
		top: 11%;
		left: 1.3%;
		transform: rotate(-3deg);
		transform: skewY(-3deg);

		// animation-name: scott-star-2;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	
	}

	.small-star{


		// animation-name: small-star;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	
	}

	.small-star-2{


		// animation-name: small-star-2;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	
	}

	.the{
		// animation-name: the;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	
	}

	.versus{
		// animation-name: versus;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	
	}

	.world{
		
		// animation-name: world;
		animation-duration: 1s, 0.8s;
		animation-iteration-count: infinite;
		animation-direction: normal;
	
	}

}


