/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';


/* 1. Main Layout ================================= */
* {
	box-sizing: border-box;
}

body {
	background: #eee;
}

@keyframes scott {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pilgrim {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes versus {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes the {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes world {
  from {
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }

  60% {
    transform: skewX(20deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-5deg);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes big-star {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes small-star {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scott-star-1 {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scott-star-2 {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}



@keyframes small-star-2 {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/*
	animation-name: aglet;
	animation-duration: 1s, 0.8s;
	animation-iteration-count: infinite;
	// normal, reverse, alternate, alternate-reverse
	animation-direction: normal;
	// animation-timing-function:linear;
	// animation-timing-function:steps(3);
	// aniamtion-play-state
*/

// calculate the ratio of your poster and put it here
$ratio: 675px/1000px;

.poster{
	position: absolute;
	height: 90vh;
	width: 90vh * $ratio;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	overflow: hidden;

	background-color: #454454;
	box-shadow: 0 20px 30px rgba(0,0,0,0.3);

	// temporary background image just for help positioning during development

	background-image: url("../img/MV5BMTkwNTczNTMyOF5BMl5BanBnXkFtZTcwNzUxOTUyMw@@._V1_SY1000_CR0,0,675,1000_AL_.jpg");
	background-size: contain;

	// put all elements in the poster, like this, with % for sizing and positioning.
	.scott{
		position: absolute;
		width: 42.8%;
		top: 7.4%;
		left: 4.2%;
		transform: rotate(0.5deg) skewY(5.5deg);

		animation-name: scott;
    animation-play-state:running;
		animation-duration: 1.5s;
		animation-iteration-count: 1;
		animation-direction: normal;
	}
	.pilgrim{
		position: absolute;
		width: 47%;
	    top: 7.4%;
	    right: 4.4%;
		transform: rotate(-3.8deg) skewY(1.3deg);

		animation-name: pilgrim;
    animation-play-state:running;
		animation-duration: 1.7s;
		animation-iteration-count: 1;
		animation-direction: normal;
	}

	.versus{
		position: absolute;
		width: 9.8%;
		top: 22.6%;
		left: 30.6%;

		animation-name: versus;
    animation-play-state:running;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-direction: normal;
	}

	.the{
		position: absolute;
		width: 11%;
		top: 21%;
		left: 41.4%;

		animation-name: the;
    animation-play-state:running;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-direction: normal;
	}

	.world{
		position: absolute;
		width: 16.7%;
		top: 21.7%;
		left: 56%;
		
		animation-name: world;
    animation-play-state:running;
		animation-duration: 3s;
		animation-iteration-count: 1;
		animation-direction: normal;
	}

	.big-star{
		position: absolute;
		width: 8%;
		top: 48.8%;
		left: 63.4%;

		animation-name: big-star;
    animation-play-state:running;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: reverse;
	}

	.small-star{
		position: absolute;
		width: 3.5%;
		top: 51.1%;
		left: 56.1%;

		animation-name: small-star;
    animation-play-state:running;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: reverse;
	}

	.scott-star-1{
		position: absolute;
		width: 8%;
		top: 39.2%;
		left: 33.2%;

		animation-name: scott-star-1;
    animation-play-state:running;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: reverse;
	}
	.scott-star-2{
		position: absolute;
		width: 4%;
		top: 34.4%;
		left: 35.8%;

		animation-name: scott-star-2;
    animation-play-state:running;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: reverse;
	}

	.small-star-2{
		position: absolute;
		width: 3%;
		top: 25.9%;
		left: 50.6%;


		animation-name: small-star-2;
    animation-play-state:running;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	
	}

}


